<!DOCTYPE HTML>
<html>
<head>
<title>Title of the document</title>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../css/contact.css">
</head>

<body>

<div class="login-block">
    <h1>Contact</h1>
    <input ng-model="user.username" class="form-control" type="text" value="" placeholder="Firstname" id="username" />
    <input ng-model="user.username" class="form-control" type="text" value="" placeholder="Username" id="username" />
    <input ng-model="user.username" class="form-control" type="text" value="" placeholder="Tel Number" id="username" />
    <button id="btn_sub">Submit</button>
    <button id="btn_sub" onclick="window.location.href='../profile/profile.view.html'">>Back to Profile</button>
</div>
</body>

</html>