<script src="../js/bootstrap-rating-input.min.js"></script>

<div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 main" ng-controller="ActivityLogController">
    <h1 class="page-header">Events</h1>

    <h2>Events I've attended</h2>


    <table class="table table-striped table-bordered" id="accordion">
        <thead>
        <tr>
            <th>Time</th>
            <th>Event</th>
            <th>Date</th>
        </tr>
        </thead>

        <tbody ng-repeat="event in attendedEvents" class="accordion-group">
        <tr class="accordion-heading">
            <td class="eventTime">
                {{event.beginTime}}
            </td>
            <td>
                <a class="accordion-toggle" data-toggle="collapse" data-target="{{event.id}}" data-parent="#accordion" aria-expanded="false" aria-controls="{{event._id}}">
                    {{event.title}}
                </a>
            </td>
            <td >
                {{event.date}}
            </td>
        </tr>
        <tr class="accordion-body collapse" id="{{event._id}}">
            <td></td>
            <td>
                <div>
                    {{event.description}}
                </div>
            </td>
            <td>
                <div class="pull-right">
                    <row>Rating:</row>
                    <input type="number" name="your_awesome_parameter" id="some" class="rating" data-clearable="remove"/>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <h2>Events I'm going</h2>

    <table class="table table-striped table-bordered" id="accordion1">
        <thead>
        <tr>
            <th>Time</th>
            <th>Event</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody ng-repeat="event in goingEvents" class="accordion-group">
            <tr class="accordion-heading">
                <td class="eventTime">
                    {{event.beginTime}}
                </td>
                <td>
                    <a class="accordion-toggle" data-toggle="collapse" data-target="{{event._id}}" data-parent="#accordion1" aria-expanded="false" aria-controls="{{event.id}}">
                        {{event.title}}
                    </a>
                </td>
                <td >
                    {{event.date}}
                </td>
            </tr>
            <tr class="accordion-body collapse" id="{{event.id}}">
                <td></td>
                <td>
                    <div>
                        {{event.description}}
                    </div>
                </td>
                <td>
                    <div class="pull-right">
                        <row>Rating:</row>
                        <input type="number" name="your_awesome_parameter" class="rating" data-clearable="remove"/>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <h1>The Original Bootstrap Rating Input <small>in action...</small></h1>

    <p>My rating: <input type="number" name="your_awesome_parameter" id="some_id" class="rating" data-clearable="remove"/></p>
</div>